# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables (API Keys, Secrets, etc)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Build Outputs
dist/
build/
.next/
out/
coverage/

# OS and Editor Files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
